﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- AlinWebSystem - </title>
    <link rel="shortcut icon" type="image/x-icon" href="Image/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

     @*Bootstrap Core CSS 
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">*@

     @*Custom CSS 
    <link href="/Content/css/sb-admin.css" rel="stylesheet">*@

     @*Morris Charts CSS*@ 
    <link href="/Content/css/plugins/morris.css" rel="stylesheet">

    @*Custom Fonts*@ 
    <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/bootstrap.yeti.min.css" rel="stylesheet" />  
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>

</head>
<body>
   
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span><span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AlinWebSystem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-togle" data-toggle="dropdown" href="#">
                            Admin. Proveedor
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                            <li><a href="@Url.Action("Index", "Proveedor")">Buscar Proveedor</a></li>
                            <li><a href="@Url.Action("Create", "Proveedor")">Registrar Proveedor</a></li>
                        </ul>
                    </li>

                    @*   probando el menu*@
                    <li class="dropdown">
                        <a class="dropdown-togle" data-toggle="dropdown" href="#">
                            Administrar
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                            <li><a href="@Url.Action("Index2", "Modulos")">Almacen</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Modulos")">Inventarios</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-togle" data-toggle="dropdown" href="#">
                            Admin. Agencias
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                            <li><a href="@Url.Action("Index", "Agencia")">Buscar Agencia</a></li>
                            <li><a href="@Url.Action("Create", "Agencia")">Registrar Agencia</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="@Url.Action("Index","Area")">Buscar Area</a></li>
                            <li><a href="@Url.Action("Create","Area")">Registra Area</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Prueba/Index">
                        <span class="glyphicon glyphicon-user" aria-hidden="true">
                        </span> Iniciar Sesión</a></li>
                </ul>

            </div>
        </div>
    </nav>
   
     <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="pull-right"><a href="#">Subir</a></p>
            <!-- <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->

            <div class="container text-center">
                <br />
                <h6>
                    <span style="color: black;">
                        <script type="text/javascript">

                            //<![CDATA[
                            var date = new Date();
                            var d = date.getDate();
                            var day = (d < 10) ? '0' + d : d;
                            var m = date.getMonth() + 1;
                            var month = (m < 10) ? '0' + m : m;
                            var yy = date.getYear();
                            var year = (yy < 1000) ? yy + 1900 : yy;
                            document.write('Software de Almacén e Inventarios "Rondesa" - Copyright information<br /><br />Cajamarca -  ' + day + "/" + month + "/" + year);
                            //]]>

                        </script>
                    </span>
                </h6>
            </div>  
            
        </footer>
    </div>

       

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
