﻿@{
    ViewBag.Title = "ListaDeDepreciacion";
}

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}


<script src="/Scripts/jquery-2.2.3.js"></script>
@*<script src="/Scripts/jquery-1.10.2.js"></script>*@
<script src="/ExportToExcel/jquery.table2excel.js"></script>



<!--Exporta a excel-->
<script src="/ExportToExcel/xlsx.core.min.js"></script>
<script src="/ExportToExcel/Blob.js"></script>
<script src="/ExportToExcel/FileSaver.js"></script>
<script src="/ExportToExcel/Export2Excel.js"></script>

<script>
    function doit() { export_table_to_excel('table'); }
</script>


<!--fin exportexcel-->

<script src="/ExportPDF/jspdf.js"></script>
<script src="/ExportPDF/FileSaver.js"></script>
<script src="/ExportPDF/jspdf.plugin.table.js"></script>


<link rel="stylesheet" href="/Content/bootstrap-datepicker.min.css" />
<script src="/Scripts/bootstrap-datepicker.min.js"></script>

<div class="panel panel-default">
    <div class="panel-body text-center">
        <strong>LISTA DE DEPRECIACIÓN DE BIENES</strong>
    </div>
</div>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Registro bienes Depreciados
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
    MOD. INVENTARIOS - "RONDESA"</div>
    <div class="panel-body">

        <form action="/BienesDepreciacion/Index" method="get">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <input type="text" name="query" class="form-control" placeholder="Buscar..." />
                </div>

                <div class="container">
                    <div class='col-md-3'>
                        <div class="form-group">
                            <div class='input-group date' id='dt1'>
                                <input class="form-control datepicker" type="text" id="Fecha1" name="Fecha1">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </span>
                            </div>
                        </div>

                        <script>
                            $(function () {
                                $('.datepicker').datepicker();
                            });
                        </script>
                    </div>
                    <div class='col-md-3'>
                        <div class="form-group">
                            <div class='input-group date' id='dt2'>
                                <input class="form-control datepicker" type="text" id="Fecha2" name="Fecha2">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </span>
                            </div>
                        </div>

                        <script>
                            $(function () {
                                $('.datepicker').datepicker();
                            });
                        </script>
                    </div>
                    <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Buscar!">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>


                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <label for="">TipoProducto:</label>
                    <select class="form-control" name="TipoDeProducto">
                        <option value="Muebles">Muebles</option>
                        <option value="Computo">Computo</option>
                        <option value="Vehiculos">Vehiculos</option>
                    </select>
                </div>
                </div>
            <br/>
        </form>
        <table class="table table-striped mytable" id="tbl">
            <thead>
                <tr>
                    <th>Id-Bienes</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Porcentaje(%)</th>
                    <th>Depre. Anual</th>
                    <th>Depre.Mensual</th>
                    <th>Depre. Al Año</th>
                    <th># Días</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Idbienes</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Importe</td>
                        <td>@item.Depreciacion.Porcentaje</td>
                        <td>@(@item.DepreciacionAcumulada = (@item.Depreciacion.Porcentaje * @item.Importe / 100))</td>
                        <td>@(@item.DepreciacionMes = (@item.DepreciacionAcumulada / 12))</td>
                        <td>@(@item.Importe - @item.DepreciacionAcumulada)</td>
                        <td>@(DateTime.Now.Day - (@item.FechaEmision.Day))</td>
                        @*<td>@(@item.AlDia= DateTime.Now.Day - (@item.FechaEmision.Day))</td>
                            <td>@((@item.DepreciacionMes/30)item.AlDia)</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- ---------------------- -->
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    Reportes</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button id="myButton" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Exportar Excel" onclick="doit();">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Exportar Excel
                </button>


                <button onclick="generatefromtablepdf()" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Exportar PDF">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    Exportar PDF
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function (e) {

        $("#myButton").click(function (e) {

            $(".mytable").table2excel({
                exclude: ".noExl",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true,
                name: "new File",
                filename: "Lista De Depreciación De Bienes",
                fileext: ".xls"
            });

        });
    });

</script>

<script>
    function generatefromtablepdf() {
        var data = [], fontSize = 12, height = 0, doc;
        doc = new jsPDF('p', 'pt', 'a4', true);
        doc.setFont("times", "normal");
        doc.setFontSize(fontSize);
        doc.text(20, 20, "Lista Depreciacion");
        data = [];

        data = doc.tableToJson('tbl');
        height = doc.drawTable(data, {
            xstart: 10,
            ystart: 10,
            tablestart: 40,
            marginleft: 10,
            xOffset: 10,
            yOffset: 15
        });

        //<![CDATA[
        var date = new Date();
        var d = date.getDate();
        var day = (d < 10) ? '0' + d : d;
        var m = date.getMonth() + 1;
        var month = (m < 10) ? '0' + m : m;
        var yy = date.getYear();
        var year = (yy < 1000) ? yy + 1900 : yy;
        //]]>
        doc.text(50, height + 20, 'Fecha Reporte: ' + day + "/" + month + "/" + year);
        doc.save("ListaDepreciacion.pdf");
    }
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36810333-1']);
    _gaq.push(['_setDomainName', 'sheetjs.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>