﻿@model Entities.Producto
@{
    ViewBag.Title = "RegistrarOtros";
}

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<link rel="stylesheet" href="/Style/css/bootstrap-datetimepicker.css" />
<script type="text/javascript" src="/Style/js/bootstrap-datetimepicker.js"></script>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Almacén
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Registro Otros Productos
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row center">
    <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h4>Registrar Información Producto</h4>
            </div>
            <div class="panel-body">
                <div class="container" style="align-content:center">
                    <form action="@Url.Action("Create", "Producto")" method="post">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    <div class="form-group">
                                        <label for="">Tipo de Producto:</label>
                                        <input type="text" name="TipoDeProducto" class="form-control" value="Otros" readonly="true" />
                                    </div>

                                    <div class="form-group">
                                        <label for="">Nombre:</label>
                                        <input type="text" name="Nombre" class="form-control" placeholder="Nombre" />
                                        <span>@Html.ValidationMessage("Nombre")</span>
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Fecha Ingreso:</label>
                                        <input type="date" name="FechaIngreso" class="form-control" />
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Fecha de Vencimiento:</label>
                                        <input type="date" name="FechaVencimiento" class="form-control" />
                                    </div>

                                    @*<div class="container">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <div class="form-group">
                                                <label for="">Fecha Ingreso: </label>
                                                <div class='input-group date' id='dt1'>
                                                    <input type='text' class="form-control" name="FechaIngreso" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            language: "es",
                                            $('#dt1').datetimepicker({
                                                locale: 'en-GB'
                                            });
                                            $('.dt1').datepicker({
                                                format: 'mm/dd/yyyy',
                                                startDate: '-3d'
                                            });
                                        </script>
                                    </div>*@

                                    @*<div class="container">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <div class="form-group">
                                                <label for="">Fecha Vencimiento: </label>
                                                <div class='input-group date' id='dt2'>
                                                    <input type='text' class="form-control" name="FechaVencimiento" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            language: "es",
                                            $('#dt2').datetimepicker({
                                                locale: 'en-GB'
                                            });
                                            $('.dt2').datepicker({
                                                format: 'mm/dd/yyyy',
                                                startDate: '-3d'
                                            });
                                        </script>
                                    </div>*@


                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">

                                    <div class="form-group">
                                        <label for="">Precio:</label>
                                        <input type="text" name="Precio" class="form-control" placeholder="Precio" />
                                        <span>@Html.ValidationMessage("Precio")</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Cantidad:</label>
                                        <input type="text" name="Cantidad" class="form-control" placeholder="Cantidad" />
                                        <span>@Html.ValidationMessage("Cantidad")</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Unidad Medida:</label>
                                        <select class="form-control" name="UnidadMedida">
                                            <option value="UND">UND</option>
                                            <option value="MILLAR">MILLAR</option>
                                            <option value="CIENTO">CIENTO</option>
                                            <option value="CAJA">CAJA</option>
                                        </select>
                                        <span>@Html.ValidationMessage("UnidadMedida")</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Observaciones:</label>
                                        <textarea name="Observaciones" class="form-control" placeholder="Observaciones" rows="5" cols="20"></textarea>
                                        <span>@Html.ValidationMessage("Observaciones")</span>
                                    </div>
                                </div>


                                <br />
                                <br />
                                @*<hr />*@
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <div style="text-align:center">
                                    <button class="btn btn-primary">
                                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                        Guardar
                                    </button>

                                    <a href="@Url.Action("Index", "Producto")" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                        Cancelar
                                    </a>
                                </div>
                            </div>
                        </div>


</div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .center {
        float: none;
        margin-left: 90px;
        margin-right: auto;
    }
</style>