﻿@{
    ViewBag.Title = "RegistrarProveedor";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Gestión de Proveedores
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Editar proveedor
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row center">
    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h4>Editar Información Proveedor</h4>
            </div>
            <div class="panel-body">
                <div class="container" style="align-content:center">
                    <form class="form-horizontal" action="@Url.Action("edit", "Proveedor", new { Id = Model.IdProveedor })" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">

                                <div class="form-group">
                                    <label for="" class="col-lg-2">Id:</label>
                                    <div class="col-lg-8">
                                        <input type="text" readonly="false" name="IdProveedor" class="form-control" placeholder="IdProveedor" value="@Model.IdProveedor" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-lg-2">Representante:</label>
                                    <div class="col-lg-8">
                                        <input type="text" name="Representante" class="form-control" placeholder="Nombre Representante" value="@Model.Representante" />
                                        <span>@Html.ValidationMessage("Representante")</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-lg-2">Correo:</label>
                                    <div class="col-lg-8">
                                        <input type="text" name="Correo" class="form-control" placeholder="example@hotmail.com" value="@Model.Correo" />
                                        <span>@Html.ValidationMessage("Correo")</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-lg-2">Teléfono:</label>
                                    <div class="col-lg-4">
                                        <input type="text" name="Telefono" class="form-control" placeholder="Nº Teléfonico" value="@Model.Telefono" />
                                        <span>@Html.ValidationMessage("Telefono")</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-lg-2">Teléfono (OPC):</label>
                                    <div class="col-lg-4">
                                        <input type="text" name="TelefonoOp" class="form-control" placeholder="Nº Opcional" value="@Model.TelefonoOp" />
                                        <span>@Html.ValidationMessage("TelefonoOp")</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-lg-2">Razón Social:</label>
                                    <div class="col-lg-8">
                                        <input type="text" name="RazonSocial" class="form-control" placeholder="Razón Social" value="@Model.RazonSocial" />
                                        <span>@Html.ValidationMessage("RazonSocial")</span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="" class="col-lg-2">RUC:</label>
                                    <div class="col-lg-4">
                                        <input type="text" name="RUC" class="form-control" placeholder="RUC" value="@Model.RUC" />
                                        <span>@Html.ValidationMessage("RUC")</span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="" class="col-lg-2">Dirección:</label>
                                    <div class="col-lg-8">
                                        <input type="text" name="Direccion" class="form-control" placeholder="Dirección" value="@Model.Direccion" />
                                        <span>@Html.ValidationMessage("Direccion")</span>
                                    </div>
                                </div>

                                <hr />
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <div style="text-align:center">
                                            <button class="btn btn-primary">
                                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">
                                                </span>Guardar
                                            </button>
                                            <a href="@Url.Action("Index", "Proveedor")" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true">
                                                </span>Cancelar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .center {
        float: none;
        margin-left: 190px;
        margin-right: auto;
    }
</style>
