﻿@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <script src="/Scripts/jquery-2.2.3.min.js"></script>
    @*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
    <script src="/Scripts/jquery.table2excel.js"></script>

    <script src="/ExportPDF/jspdf.js"></script>
    <script src="/ExportPDF/FileSaver.js"></script>
    <script src="/ExportPDF/jspdf.plugin.table.js"></script>

    <div class="panel panel-default">
        <div class="panel-body text-center">
            Gestión de Proveedores
        </div>
    </div>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Proveedores
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->


    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            Proveedores
        </div>
        <div class="panel-body">


            <form action="@Url.Action("Index", "Proveedor")" method="get">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <button class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Buscar!">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                            </button>
                            <a href="@Url.Action("Create", "Proveedor")" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Registrar Proveedor">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Registrar Proveedor
                            </a>
                        </div>
                    </div>
                </div>
            </form>

            <br />
            <table class="table tabble-striped table-hover mytable" id="tbl">
                <thead>
                    <tr>

                        <th>#</th>
                        <th>Representante</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Teléfono (OPC)</th>
                        <th>Razon Social</th>
                        <th>RUC</th>
                        <th>Dirección</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdProveedor</td>
                            <td>@item.Representante</td>
                            <td>@item.Correo</td>
                            <td>@item.Telefono</td>
                            <td>@item.TelefonoOp</td>
                            <td>@item.RazonSocial</td>
                            <td>@item.RUC</td>
                            <td>@item.Direccion</td>
                            <td class="noExl">
                                <a href="@Url.Action("edit", "Proveedor", new { Id = item.IdProveedor })">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    Editar
                                </a> |
                                <a id="deleteItem" class="deleteItem" data-target="#basic" data-toggle="modal" data-id="@item.IdProveedor">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    Eliminar
                                </a>

                                <div class="modal fade" id="basic" tabindex="-1" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                <h4 class="modal-title">Confirmar Eliminación</h4>
                                            </div>
                                            <div class="modal-body">
                                                Esta seguro que desea eliminar a este proveedor ?
                                            </div>
                                            <div class="modal-footer">
                                               
                                                    <button data-dismiss="modal" type="button" class="btn btn-default">Cancelar</button>
                                                    <button id="btnContinueDelete" type="button" class="btn btn-primary">Eliminar</button>
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>






            <script type="text/javascript">
                $(document).ready(function (e) {

                    $("#myButton").click(function (e) {

                        $(".mytable").table2excel({
                            exclude: ".noExl",
                            exclude_img: true,
                            exclude_links: true,
                            exclude_inputs: true,
                            name: "new File",
                            filename: "ListaProveedores",
                            fileext: ".xls"
                        });

                    });
                });

            </script>

            <script>
                function generatefromtable() {
                    var data = [], fontSize = 12, height = 0, doc;
                    doc = new jsPDF('p', 'pt', 'a4', true);
                    doc.setFont("times", "normal");
                    doc.setFontSize(fontSize);
                    doc.text(20, 20, "Lista Proveedores");
                    data = [];

                    data = doc.tableToJson('tbl');
                    height = doc.drawTable(data, {
                        xstart: 10,
                        ystart: 10,
                        tablestart: 40,
                        marginleft: 10,
                        xOffset: 10,
                        yOffset: 15
                    });

                    //<![CDATA[
                    var date = new Date();
                    var d = date.getDate();
                    var day = (d < 10) ? '0' + d : d;
                    var m = date.getMonth() + 1;
                    var month = (m < 10) ? '0' + m : m;
                    var yy = date.getYear();
                    var year = (yy < 1000) ? yy + 1900 : yy;
                    //]]>
                    doc.text(50, height + 20, 'Fecha Reporte: ' + day + "/" + month + "/" + year);
                    doc.save("ListaProveedores.pdf");
                }
            </script>

            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
            </script>

            <script>
                var item_to_delete;
                $(".deleteItem").click(function (e) {
                    item_to_delete = $(this).data('id');
                });
                $('#btnContinueDelete').click(function () {
                    window.location = "@Url.Action("delete", "Proveedor")" + item_to_delete;
                });
            </script>

        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        Reportes</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button id="myButton" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Exportar Excel">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        Exportar Excel
                    </button>


                    <button onclick="generatefromtable()" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Exportar PDF">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        Exportar PDF
                    </button>
                </div>
                <//div>
            </div>
        </div>
        </div>
