﻿
@{
    ViewBag.Title = "Index";
}



    <div class="container text-center">
        <img src="/Image/404.png" alt="Smiley face" >
        <p>En mantenimiento - <a href="/Home/Index">Volver</a></p>
   

    </div>