﻿@model Entities.Area
<tr>

    <td>@Model.IdArea</td>
    <td>@Model.Nombre</td>
    <td>@Model.CodigoArea</td>
    <td class="col-sm-1">
        <input type="hidden" class="form-control input-sm" name="DetallesAgencias[@ViewBag.Area].IdArea" value="@Model.IdArea">
    </td>


    <td style="text-align: center">
        <a class="btn btn-danger btn-xs" onclick="deleteRow(this)">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
    </td>
</tr>
