﻿@model Entities.Agencia

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Agencias
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Detalles de Agencias
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<h3 class="title text-danger">Areas con la que cuenta la Agencia</h3>

<form class="form-inline" action="@Url.Action("Edit", "Agencia", new { Id = Model.IdAgencia })" method="post" role="form">
    <table class="table">
        <thead>
            <tr>
                <th>IdArea</th>
                <th>NombreArea</th>
                <th>CodigoDeArea</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Detalle)
            {
                <tr>
                    <td>@item.IdArea</td>
                    <td>@item.Area.Nombre</td>
                    <td>@item.Area.CodigoArea</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="form-group-sm">
            <a href="@Url.Action("Index","Agencia")" class="btn btn-danger col-sm-offset-5" data-toggle="tooltip" data-placement="bottom" title="Retornar Lista Agencias">
                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                Atras
            </a>
        </div>
    </div>
</form>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>