﻿
@{
    ViewBag.Title = "Inicio";
}

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <script src="/Scripts/jquery-2.2.3.min.js"></script>
    @*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
    <script src="/Scripts/jquery.table2excel.js"></script>

    <div class="panel panel-default">
        <div class="panel-body text-center">
            <strong style="color:black">CONSULTA DE AGENCIA</strong>
        </div>
    </div>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Agencia
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->



    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
        MOD. INVENTARIOS - "RONDESA"</div>
        <div class="panel-body">

            <form action="@Url.Action("Index","Agencia")" method="get">

                <div class="row">
                    <div class="col-md-3">
                        <input type="text" name="query" class="form-control" placeholder="Buscar..." />

                    </div>

                    <div class="col-md-4">
                        <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Buscar ! ">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>

                        <a href="@Url.Action("Create","Agencia")" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Registro de Agencia ">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Registro de Agencia
                        </a>
                    </div>
                </div>
            </form>

            <table class="table tabble-striped table-hover">
                <thead>
                    <tr>
                        <th>IdAgencia</th>
                        <th>Nombre</th>
                        <th>CodigoAgencia</th>
                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdAgencia</td>
                            <td>@item.Nombre</td>
                            <td>@item.CodigoAgencia</td>

                            <td>
                                <a href="@Url.Action("edit", "Agencia", new { Id = item.IdAgencia })" class="btn btn-info btn-xs">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>|
                                <a href="@Url.Action("delete", "Agencia", new { Id = item.IdAgencia })"
                                   onclick="return confirm(' Desea eliminar la Agencia : @item.Nombre');">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <a href="@Url.Action("Index", "Home")" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Módulo de  Inventarios ">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    Volver
</a>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>