﻿
@{
    ViewBag.Title = "RegistrarAgencia";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Agencias
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Registro de Agencia
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>Nota!</strong> Es necesario registrar primero las áreas
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class=" form-inline" action="@Url.Action("Create", "Agencia")" method="post">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align:center">
                    <h4>Registrar Nueva Agencia</h4>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="">Nombre:</label>
                        <input type="text" name="Nombre" class="form-control" placeholder="Nombre de la Agencia" />
                        <span>@Html.ValidationMessage("Nombre")</span>
                    </div>

                    <br /><br />

                    <div class="form-group">
                        <label for="">Codigo:</label>
                        <input type="text" name="CodigoAgencia" class="form-control" placeholder="Codigo de Agencia" />
                        <span>@Html.ValidationMessage("CodigoAgencia")</span>
                    </div>

                    <br />
                    <br />


                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs nav-justified">
                                <li class=""><a aria-expanded="False" href="#home" data-toggle="tab">Areas Añadidos a la Agencia</a></li>
                                <li class="active"><a aria-expanded="true" href="#profile" data-toggle="tab">Areas disponibles</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade" id="home">
                                    <table class="table table-striped table-hover" id="myTable">
                                        <thead>
                                            <tr class="label-info">
                                                <th>IdArea</th>
                                                <th>NombreArea</th>
                                                <th>CodigoArea</th>
                                                <th style="text-align: center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="TBodyAreas"></tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade in active" id="profile">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr class="label-primary">
                                                <th>IdArea</th>
                                                <th>NombreArea</th>
                                                <th>CodigoArea</th>
                                                <th style="text-align: center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.Area)
                                            {
                                                <tr>
                                                    <td>@item.IdArea</td>
                                                    <td>@item.Nombre</td>
                                                    <td>@item.CodigoArea</td>
                                                    <td style="text-align: center">
                                                        <a href="/Agencia/Item/@item.IdArea" onclick="CargarContenidoEnTablaDesdeTabla(this, event)" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="right" title="Agregar">
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="alert alert-success" id="success-alert" hidden>
                                        <button type="button" class="close" data-dismiss="alert">x</button>
                                        <strong>Exito! </strong>
                                        Producto Agregado a la lista.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group-sm">
                            <button class="btn btn-primary col-sm-offset-3">
                                <span aria-hidden="true" class="glyphicon glyphicon-floppy-disk"></span>
                                Guardar
                            </button>

                            <a href="@Url.Action("Index", "Agencia")" class="btn btn-danger col-sm-offset-1">
                                <span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
                                Cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<script>
    function alertar() {

        $("#success-alert").fadeTo(800, 500).slideUp(500, function () {
            $("#success-alert").hide();
        });
    }

    var position = 0;

    function CargarContenidoEnTablaDesdeTabla(that, event) {
        $.get(that.href + '?position=' + position)
            .done(function (respuesta) {
                $('#TBodyAreas').append(respuesta);
                position++;
            });

        event.preventDefault();
        alertar();

    }
    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("myTable").deleteRow(i);

    }


    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("myTable").deleteRow(i);

    }

</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>