﻿@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    AlinWebSystem <small>Sistema de Gestión de “Almacén e Inventarios”</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Menú Principal
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-info-circle"></i>  <strong>Bienvenido a AlinWebSystem</strong> Creado por Carlos Chávez y Andres Chegne
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Proveedores</div>
                                @*<div>Proveedores</div>*@
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Proveedor")">
                        <div class="panel-footer">
                            <span class="pull-left">Acceder</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cubes fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Almacén</div>
                                @*<div>Productos</div>*@
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Producto")">
                        <div class="panel-footer">
                            <span class="pull-left">Acceder</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Inventario</div>
                                @*<div>Ventas</div>*@
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index","Bienes")">
                        <div class="panel-footer">
                            <span class="pull-left">Acceder</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i>Software exclusivo:</h3>
                        </div>
                        <div class="panel-body">
                            @*<img src="/Image/ronde.png" class="img-responsive ronde" alt="Cinque Terre" >*@
                            <div class="container text-center">
                                <img src="@Url.Action("ronde.png", "Image")" class="img-thumbnail " alt="Cinque Terre">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Localización</h3>
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>
                            <div class="text-right">
                                @*<img src="/Image/ubironde.jpg" class="img-responsive" alt="Cinque Terre">*@
                                @*--MAPA--*@
                                <script src="http://maps.googleapis.com/maps/api/js">
                                </script>
                                <script>
                                    var posicion = new google.maps.LatLng(-7.1443147, -78.5146088); //POSICION

                                    function initialize() //Funcion que inicializa el mapa
                                    {
                                        var mapProp = {  //parametros del mapa
                                            center: posicion,
                                            zoom: 16,
                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                        };
                                        var map = new google.maps.Map(document.getElementById("mapa"), mapProp); //creacion del mapa

                                        var marker = new google.maps.Marker({ //para agregar el marcador al mapa
                                            position: posicion,
                                        });

                                        marker.setMap(map);

                                    }

                                    google.maps.event.addDomListener(window, 'load', initialize); //carga la funcion al abrir la pagina web
                                </script>
                                <div id="mapa" style="width: 300px; height: 300px; ">
                                </div>
                                @*--FIN DEL MAPA--*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Nuestro equipo de trabajo</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <span class="badge">Desarrollador</span>
                                    <i class="fa fa-fw fa-user"></i> Andrés Chegne Chávez
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="badge">Desarrollador</span>
                                    <i class="fa fa-fw fa-user"></i> Carlos Chávez Hinostroza
                                </a>
                                <a href="#" class="list-group-item">
                                    <span class="badge">Apoyo</span>
                                    <i class="fa fa-fw fa-user"></i> Anthony Torres Vargas
                                </a>
                               

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>Contacto</h3>
                        </div>
                        <div class="panel-body">
                            <p><b>Dirección:</b> Jirón El Bosque # 346</p>
                            <p> <b>Teléfono:</b>(076) 366143</p>
                            <p><b> Correo:</b> coopac@rondesa.com</p>
                            <p>  <b>Facebook:</b> <a href="https://www.facebook.com/coopac.rondesa">Coopac Rondesa</a> </p>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->