﻿@{
    ViewBag.Title = "ListaDeBienes";
}

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    @*<script src="/Scripts/jquery-2.2.3.min.js"></script>*@
    @*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@


    <script src="/Scripts/jquery-2.2.3.min.js"></script>
    <script src="/Scripts/jquery.table2excel.js"></script>
    <script src="/ExportPDF/jspdf.js"></script>
    <script src="/ExportPDF/FileSaver.js"></script>
    <script src="/ExportPDF/jspdf.plugin.table.js"></script>

<link rel="stylesheet" href="/Content/bootstrap-datepicker.min.css" />
<script src="/Scripts/bootstrap-datepicker.min.js"></script>


    <div class="panel panel-default">
        <div class="panel-body text-center">
            <strong>CONSULTAR LISTA DE BIENES</strong>
        </div>
    </div>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Inventario
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
        MOD. INVENTARIOS - "RONDESA"</div>
        <div class="panel-body">

            <form action="@Url.Action("Index", "Bienes")" method="get">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <input type="text" name="query" class="form-control" placeholder="Buscar Bienes ..." style="width: 100%" autofocus />
                    </div>

                    <div class="container">
                        <div class='col-md-3'>
                            <div class="form-group">
                                <div class='input-group date' id='dt1'>
                                    <input class="form-control datepicker" type="text" id="Fecha1" name="Fecha1">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </div>

                            <script>
                                $(function () {
                                    $('.datepicker').datepicker();
                                });
                            </script>
                        </div>
                        <div class='col-md-3'>
                            <div class="form-group">
                                <div class='input-group date' id='dt2'>
                                    <input class="form-control datepicker" type="text" id="Fecha2" name="Fecha2">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </div>

                            <script>
                                $(function () {
                                    $('.datepicker').datepicker();
                                });
                            </script>
                        </div>
                        <button class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Buscar!">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>


                    </div>
                </div>
            </form>

            <div class="container">
                <div class="row">
                    <a href="@Url.Action("Create", "Bienes", new { TipoDeProducto = "Muebles" })" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Registrar Muebles">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Registrar Muebles
                    </a>
                    &nbsp;
                    <a href="@Url.Action("Create", "Bienes", new { TipoDeProducto = "Computo" })" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Registrar Productos Cómputo">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Registrar Bienes Cómputo
                    </a>
                    &nbsp;
                    <a href="@Url.Action("Create", "Bienes", new { TipoDeProducto = "Vehiculos" })" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Registrar Vehículos">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Registrar Vehículos
                    </a>
                    &nbsp;
                    <a href="@Url.Action("Create", "Bienes", new { TipoDeProducto = "Otros" })" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Registrar Productos Cómputo">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Registrar Otros Bienes
                    </a>
                </div>
            </div>

            <br />
            <div style="overflow:auto">
                <table class="table tabble-striped table-hover mytable" id="tbl">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tipo Prod.</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Area</th>
                            <th>Agencia</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Grupo</th>
                            <th>Cod. Grupo</th>
                            <th>N° Factura</th>
                            <th>Importe</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Serie</th>
                            <th>Color</th>
                            <th>Medidas</th>
                            <th>Dimensiones</th>
                            <th>Num.motor</th>
                            <th>Num.Años</th>
                            <th>Acción</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Idbienes</td>
                                <td>@item.TipoDeProducto</td>
                                <td>@item.Descripcion</td>
                                <td>@item.Cantidad</td>
                                <td>@item.Area.Nombre</td>
                                <td>@item.Agencia.Nombre</td>
                                <td>@item.FechaEmision</td>
                                <td>@item.Estado</td>
                                <td>@item.Grupo</td>
                                <td>@item.CodigoGrupo</td>
                                <td>@item.NurFactura</td>
                                <td>@item.Importe</td>
                                <td>@item.Marca</td>
                                <td>@item.Modelo</td>
                                <td>@item.Serie</td>
                                <td>@item.Color</td>
                                <td>@item.Medidas</td>
                                <td>@item.Dimenciones</td>
                                <td>@item.NumMotor</td>
                                <td>@(DateTime.Now.Year - @item.FechaEmision.Year)</td>
                                <td>
                                    <a href="@Url.Action("delete", "Bienes", new { Id = item.Idbienes })" onclick="return confirm('Desea eliminar este el bien: @item.Descripcion ');">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Eliminar
                                    </a>
                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class=" glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        Reportes</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button id="myButton" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Exportar Excel">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        Exportar Excel
                    </button>


                    <button onclick="generatefromtable()" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Exportar PDF">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        Exportar PDF
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function (e) {

            $("#myButton").click(function (e) {

                $(".mytable").table2excel({
                    exclude: ".noExl",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true,
                    name: "new File",
                    filename: "ListaBienes",
                    fileext: ".xls"
                });

            });
        });

    </script>

    <script>
        function generatefromtable() {
            var data = [], fontSize = 12, height = 0, doc;
            doc = new jsPDF('p', 'pt', 'a4', true);
            doc.setFont("times", "normal");
            doc.setFontSize(fontSize);
            doc.text(20, 20, "Lista Bienes");
            data = [];

            data = doc.tableToJson('tbl');
            height = doc.drawTable(data, {
                xstart: 10,
                ystart: 10,
                tablestart: 40,
                marginleft: 10,
                xOffset: 10,
                yOffset: 15
            });

            //<![CDATA[
            var date = new Date();
            var d = date.getDate();
            var day = (d < 10) ? '0' + d : d;
            var m = date.getMonth() + 1;
            var month = (m < 10) ? '0' + m : m;
            var yy = date.getYear();
            var year = (yy < 1000) ? yy + 1900 : yy;
            //]]>
            doc.text(50, height + 20, 'Fecha Reporte: ' + day + "/" + month + "/" + year);
            doc.save("ListaBienes.pdf");
        }
    </script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
