﻿@model Entities.Bienes
@{
    ViewBag.Title = "RegistroDeVehiculos";
}

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<link rel="stylesheet" href="/Style/css/bootstrap-datetimepicker.css" />
<script type="text/javascript" src="/Style/js/bootstrap-datetimepicker.js"></script>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
                <i class="fa fa-dashboard"></i><a href="http://localhost:1840/"> Menú Principal</a>
                <i class="fa fa-dashboard"></i><a href="http://localhost:1840/"> Menú Principal</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Inventario
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Registro de Vehículos
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h4>REGISTRAR UN NUEVO VEHICULO</h4>
            </div>
            <div class="panel-body">
                <div class="container" style="align-content:center">
                    <form action="@Url.Action("Create", "Bienes")" method="post">
                        <div class="row center">
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <div class="col-md-5 col-sm-5 col-xs-5">

                                    <div class="form-group">
                                        <label for="">Tipo de Producto:</label>
                                        <input type="text" name="TipoDeProducto" class="form-control" value="Vehiculos" readonly="true" />
                                    </div>

                                    <div class="form-group">
                                      <label for="">Grupo:</label>
                                      <input type="text" name="Grupo" class="form-control" value="181401" readonly="true" />
                                   </div>

                                    <div class="form-group ">
                                        <label for="">Nombre:</label>
                                        <input type="text" name="Descripcion" class="form-control" placeholder="Nombre del producto" />
                                        @Html.ValidationMessage("Descripcion", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Fecha Ingreso:</label>
                                        <input type="date" name="FechaEmision" class="form-control" />
                                    </div>

                                    @*<div class="form-group">
                                        <label for="">Grupo:</label>
                                        <select class="form-control input-sm-3" id="Grupo" name="Grupo" >
                                            <option value="">--Seleccione Grupo</option>
                                            <option value="181301">181301</option>
                                            <option value="181302">181302</option>
                                            <option value="181309">181309</option>
                                            <option value="181401">181401</option>
                                        </select>

                                    </div>*@

                                    @*  <div class="form-group">
                                            <label for="">Codigo de Grupo:</label>
                                            <input type="text" name="CodigoGrupo" class="form-control" placeholder="Generado Automático" />
                                             <span>@Html.ValidationMessage("CodigoGrupo")</span>
                                        </div>*@

                                    <div class="form-group ">
                                        <label for="">Marca:</label>
                                        <input type="text" name="Marca" class="form-control" placeholder="Ingrese la Marca" />
                                        @Html.ValidationMessage("Marca", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Color:</label>
                                        <input type="text" name="Color" class="form-control" placeholder="Color del producto" />
                                        @Html.ValidationMessage("Color", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="">Unidad Medida:</label>
                                        <select class="form-control" name="UnidadMedida">
                                            <option value="UND">UND</option>
                                            <option value="MILLAR">MILLAR</option>
                                            <option value="CIENTO">CIENTO</option>
                                        </select>

                                    </div>

                                    @* <div class="form-group ">
                                        <label for="">Cantidad:</label>
                                        <input type="text" name="Cantidad" class="form-control" placeholder="Cantidad"  />
                                       </div>*@

                                    <div class="form-group ">
                                        <label for="">Precio:</label>
                                        <input type="text" name="Importe" class="form-control" placeholder="S/ 00.00" />
                                        @Html.ValidationMessage("Importe", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Chasis:</label>
                                        <input type="text" name="Chasis" class="form-control" placeholder="" />
                                        @Html.ValidationMessage("Chasis", new { @class = "text-danger" })
                                    </div>

                                    @*<div class="container">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <div class="form-group">
                                                <label for="">Fecha Ingreso: </label>
                                                <div class='input-group date' id='dt1'>
                                                    <input type='text' class="form-control" name="FechaEmision" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            language: "es",
                                            $('#dt1').datetimepicker({
                                                locale: 'en-GB'
                                            });
                                            $('.dt1').datepicker({
                                                format: 'mm/dd/yyyy',
                                                startDate: '-3d'
                                            });
                                        </script>
                                    </div>*@
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">
                                    <div class="form-group ">
                                        <label for="">Numero De Motor:</label>
                                        <input type="text" name="NumMotor" class="form-control" placeholder="# 123.." />
                                        @Html.ValidationMessage("Correo", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="">Selecione La Agencia:</label>
                                        <div class="editor-field">
                                            @Html.DropDownList("IdAgencia", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.IdAgencia)

                                            @* <a href="/Agencia/Create" class="btn btn-success">
                                                 <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                </a>*@
                                        </div>
                                        @*falta el buscar o ver las agencias *@
                                    </div>

                                    <div class="form-group">
                                        <label for="">Selccione El Area:</label>
                                        <div class="editor-field">
                                            @Html.DropDownList("IdAreafk", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.IdAreafk)
                                        </div>
                                        @*falta el buscar o ver las agencias *@
                                    </div>

                                    <div class="form-group">
                                        <label for="">Estado:</label>
                                        <select class="form-control input-sm-3" id="" name="Estado" required>
                                            <option value="">--Seleccione Grupo</option>
                                            <option value="Nuevo">Nuevo</option>
                                            <option value="Bueno">Bueno</option>
                                            <option value="Regular">Regular</option>
                                            <option value="Baja">Baja</option>
                                        </select>

                                    </div>

                                    @* <div class="form-group">
                                              <label for="">Seleccionar Proveedor:</label>
                                              <div class="editor-field">
                                                 @Html.DropDownList("IdProveedorFk", null, htmlAttributes: new {@class= "form-control"})
                                                 @Html.ValidationMessageFor(model =>model.IdProveedorFk)
                                            </div>
                                        </div> *@

                                    <div class="form-group">
                                        <label for="">Num Factura:</label>
                                        <input type="text" name="NurFactura" class="form-control" placeholder="NumFactura #" />
                                        @Html.ValidationMessage("NurFactura", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="">Seleccionar Depreciación:</label>
                                        <div class="editor-field">
                                            @Html.DropDownList("IdDepreciacionFk", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.IdDepreciacionFk)
                                        </div>
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Observaciones:</label>
                                        <textarea name="Observaciones" class="form-control" placeholder="Observaciones" rows="5" cols="20"></textarea>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <div style="text-align:center">
                                            <button class="btn btn-primary">
                                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                                Guardar
                                            </button>

                                            <a href="@Url.Action("Index", "Bienes")" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                                Cancelar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* </div>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
