﻿@model Entities.Bienes
@{
    ViewBag.Title = "RegistrarOtrosBienes";
}

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <h4>REGISTRAR OTROS BIENES - INVENTARIOS "RONDESA"</h4>
            </div>
            <div class="panel-body">
                <div class="container" style="align-content:center">
                    <form action="@Url.Action("Create", "Bienes")" method="post">
                        <div class="row center">
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <div class="col-md-5 col-sm-5 col-xs-5">

                                    <div class="form-group">
                                        <label for="">Tipo de Bien:</label>
                                        <input type="text" name="TipoDeProducto" class="form-control" value="Otros" readonly="true" />
                                    </div>

                                    <div class="form-group">
                                        <label for="">Grupo:</label>
                                        <input type="text" name="Grupo" class="form-control" value="181309" readonly="true" />
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Nombre:</label>
                                        <input type="text" name="Descripcion" class="form-control" placeholder="Nombre..." />
                                        @Html.ValidationMessage("Descripcion", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Fecha Ingreso:</label>
                                        <input type="date" name="FechaEmision" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label for="">Unidad Medida:</label>
                                        <select class="form-control" name="UnidadMedida">
                                            <option value="UND">UND</option>
                                            <option value="MILLAR">MILLAR</option>
                                            <option value="CIENTO">CIENTO</option>
                                        </select>
                                        <span>@Html.ValidationMessage("UnidadMedida")</span>
                                    </div>

                                    @*  <div class="form-group">
                                           <label for="">Grupo:</label>
                                           <select class="form-control input-sm-3" id="Grupo" name="Grupo" required>
                                              <option value="">--Seleccione Grupo</option>
                                              <option value="181301">181301</option>
                                              <option value="181302">181302</option>
                                              <option value="181309">181309</option>
                                              <option value="181401">181401</option>
                                            </select>
                                             <span>@Html.ValidationMessage("Grupo")</span>
                                        </div>  *@

                                    <div class="form-group ">
                                        <label for="">Cantidad:</label>
                                        <input type="text" name="Cantidad" class="form-control" placeholder="Cantidad" />
                                        @Html.ValidationMessage("Cantidad", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Marca:</label>
                                        <input type="text" name="Marca" class="form-control" placeholder="Ingrese la Marca" />
                                        @Html.ValidationMessage("Marca", new { @class = "text-danger" })
                                     </div>

                                    <div class="form-group ">
                                        <label for="">Modelo:</label>
                                        <input type="text" name="Modelo" class="form-control" placeholder="Ingrese un modelo" />
                                        @Html.ValidationMessage("Modelo", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Serie:</label>
                                        <input type="text" name="Serie" class="form-control" placeholder="Serie.." />
                                        @Html.ValidationMessage("Serie", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5">

                                    <div class="form-group ">
                                        <label for="">Color:</label>
                                        <input type="text" name="Color" class="form-control" placeholder="Color del producto" />
                                        @Html.ValidationMessage("Color", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Precio:</label>
                                        <input type="text" name="Importe" class="form-control" placeholder="S/ 00.00" />
                                        @Html.ValidationMessage("Importe", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="">Selecione La Agencia:</label>
                                        <div class="editor-field">
                                            @Html.DropDownList("IdAgencia", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.IdAgencia)

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Selccione El Area:</label>
                                        <div class="editor-field">
                                            @Html.DropDownList("IdAreafk", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.IdAreafk)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Estado:</label>
                                        <select class="form-control input-sm-3" id="" name="Estado" required>
                                            <option value="">--Seleccione Estado</option>
                                            <option value="Nuevo">Nuevo</option>
                                            <option value="Bueno">Bueno</option>
                                            <option value="Regular">Regular</option>
                                            <option value="Baja">Baja</option>
                                        </select>
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Medidas:</label>
                                        <input type="text" name="Medidas" class="form-control" placeholder="Ingrese las medidas del producto" />
                                        @*@Html.ValidationMessage("Medidas", new { @class = "text-danger" })*@
                                    </div>


                                    <div class="form-group">
                                        <label for="">Num Factura:</label>
                                        <input type="text" name="NurFactura" class="form-control" placeholder="NumFactura #" />
                                        @Html.ValidationMessage("NurFactura", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group ">
                                        <label for="">Observaciones:</label>
                                        <textarea name="Observaciones" class="form-control" placeholder="Observaciones" rows="5" cols="20"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Seleccionar Depreciación:</label>
                                        <div class="editor-field">
                                            @Html.DropDownList("IdDepreciacionFk", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.IdDepreciacionFk)
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <div style="text-align:center">
                                            <button class="btn btn-primary">
                                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                                Guardar
                                            </button>

                                            <a href="@Url.Action("Index", "Bienes")" class="btn btn-danger">
                                                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                                Cancelar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .center {
        float: none;
        margin-left: 90px;
        margin-right: auto;
    }
</style>


