﻿
@{
    ViewBag.Title = "EditarArea";
}

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <strong>EDITAR AREA - MOD. INVENTARIOS "RONDESA"</strong>
            </div>

            <div class="panel-body">
                <form action="@Url.Action("edit", "Area", new { Id = Model.IdArea })" method="post">

                    <div class="form-group">
                        <label for="IdArea">ID:</label>
                        <input type="text" readonly="true" name="IdArea" class="form-control" placeholder="IdArea" value="@Model.IdArea" />
                    </div>

                    <div class="form-group">
                        <label for="Nombre">Nombre:</label>
                        <input type="text" name="Nombre" class="form-control" placeholder="Nombre" value="@Model.Nombre" />
                        @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="CodigoArea">CodigoArea:</label>
                        <input type="text" name="CodigoArea" class="form-control" placeholder="CodigoArea" value="@Model.CodigoArea" />
                        @Html.ValidationMessage("CodigoArea", new { @class = "text-danger" })
                    </div>

                    <div class="form-group" style="text-align:center">
                        <button class="btn btn-primary">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            Guardar
                        </button>

                        <a href="@Url.Action("Index","Area")" class="btn btn-danger">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            Cancelar
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


