﻿
@{
    ViewBag.Title = "Inicio";
}

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <script src="/Scripts/jquery-2.2.3.min.js"></script>
    @*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
    <script src="/Scripts/jquery.table2excel.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <strong>CONSULTAR AREAS</strong>
            </div>
        </div>

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Áreas 
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            MOD. INVENTARIOS -"RONDESA"</div>
            <div class="panel-body">

                <form action="@Url.Action("Index","Area")" method="get">

                    <div class="row">
                        <div class="col-md-3">
                            <div ng-app="">
                                <input type="text" name="query" ng-model="query" class="form-control" placeholder="Buscar..." {{query}} />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Buscar ! ">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>

                            <a href="@Url.Action("Create","Area")" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Registrar Área ">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Registrar Área
                            </a>
                        </div>
                    </div>
                </form>

                <table class="table tabble-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>CodigoArea</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.IdArea</td>
                                <td>@item.Nombre</td>
                                <td>@item.CodigoArea</td>

                                <td>
                                    <a href="@Url.Action("edit", "Area", new { Id = item.IdArea })">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        Editar
                                    </a> 

                                    <a href="@Url.Action("delete", "Area", new { Id = item.IdArea })"
                                       onclick="return confirm(' Desea eliminar el Area : @item.Nombre');">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

        <a href="@Url.Action("Index", "Home")" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Inicio ">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Volver
        </a>
    </div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>