﻿
@{
    ViewBag.Title = "RegistrarArea";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="@Url.Action("Create","Area")" method="post">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align:center">
                    <h4>Registrar Nueva Area</h4>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="">Nombre:</label>
                        <input type="text" name="Nombre" class="form-control" placeholder="Nombre del Area" />
                        @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="">CodigoArea:</label>
                        <input type="text" name="CodigoArea" class="form-control" placeholder="Codigo del Area" />
                        @Html.ValidationMessage("CodigoArea", new { @class = "text-danger" })
                    </div>


                    <div class="form-group" style="text-align:center">
                        <button class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Guardar
                        </button>



                        <a href="@Url.Action("Index","Area")" class=" btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Cancelar

                        </a>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


