﻿@{
    ViewBag.Title = "EditarDepreciacion";
}

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                <strong>EDITAR DEPRECIACIÓN - MOD. INVENTARIOS "RONDESA"</strong>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("edit", "Depreciacion", new { Id = Model.IdDepreciacion })" method="post">

                    <div class="form-group">
                        <label for="IdDepreciacion">ID:</label>
                        <input type="text" readonly="true" name="IdDepreciacion" class="form-control" placeholder="Id depreciación" value="@Model.IdDepreciacion" />
                    </div>

                    <div class="form-group">
                        <label for="Descripcion">Descripción:</label>
                        <input type="text" name="Descripcion" class="form-control" placeholder="Descripcion..." value="@Model.Descripcion" />
                        @Html.ValidationMessage("Descripcion", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="Porcentaje">Porcentaje:</label>
                        <input type="text" name="Porcentaje" class="form-control" placeholder="Porcentaje..." value="@Model.Porcentaje" />
                        @Html.ValidationMessage("Porcentaje", new { @class = "text-danger" })
                    </div>

                    <div class="form-group" style="text-align:center">
                        <button class="btn btn-primary">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            Guardar
                        </button>

                        <a href="@Url.Action("Index", "Depreciacion")" class="btn btn-danger">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                            Cancelar
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
