﻿@{
    ViewBag.Title = "ListaDeprecicion";
}

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["updateSuccess"]</div>
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i><a href=""> Menú Principal</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Módulo de Inventarios
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Depreciación
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="panel panel-default">
    <div class="panel-heading" >
        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
    Depreciaciones
    </div>

    <div class="panel-body">
        <form action="@Url.Action("Index", "Depreciacion")" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="criterio" class="form-control" placeholder="Buscar ..." />
                </div>

                <div class="col-md-4">
                    <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Buscar!">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <a href="@Url.Action("Create", "Depreciacion")" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Registrar Depreciación">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Registro de Depreciación
                    </a>
                </div>

            </div>
        </form>

        <table class="table tabble-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DESCRIPCIÓN</th>
                    <th>TIPO DE PORCENTAJE</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdDepreciacion</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Porcentaje</td>
                        @* <td>
                                <select>
                                    <option>baja</option>
                                    <option>vendido</option>
                                </select>
                            </td> *@

                        <td>
                            <a href="@Url.Action("edit", "Depreciacion", new { Id = item.IdDepreciacion })">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                Editar
                            </a> |
                            <a href="@Url.Action("delete", "Depreciacion", new { Id = item.IdDepreciacion })"
                               onclick="return confirm(' Desea eliminar : @item.Descripcion');">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<a href="@Url.Action("Index", "Modulos")" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Inicio ">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    Volver
</a>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
