﻿
<div class="container">

    <div class="col-md-6 col-md-offset-2">


        <div class="list-group" style="align-content:center">
            <h5>
                <a href="#" class="list-group-item active">
                    <strong>MÓDULO DE ALMACÉN</strong>
                </a>
                <a href="@Url.Action("Index", "Producto")" class="list-group-item">Lista de productos</a>
                <a href="@Url.Action("Index", "Movimientos")" class="list-group-item">Listar Movimientos</a></>
                <a href="@Url.Action("Create", "Producto", new { TipoDeProducto = "Suministros" })" class="list-group-item">Registrar Suministros</a>
                <a href="@Url.Action("Create", "Producto", new { TipoDeProducto = "Vestuario" })" class="list-group-item">Registrar Vestuario</a>
                <a href="@Url.Action("Create", "Producto", new {TipoDeProducto="Otros" })" class="list-group-item">Registrar Otros Prod.</a>
            </h5>

</div>
    </div>
</div>
