﻿
    <div class="container">
        <div class="col-md-6 col-md-offset-2">


            <div class="list-group" style="align-content:center">
                <h5>
                    <a href="#" class="list-group-item active">
                        <strong>MODULO DE INVENTARIOS</strong>
                    </a>

                    <a href="@Url.Action("Index", "Bienes")" class="list-group-item">Lista de bienes</a>
                    <a href="@Url.Action("Create", "Bienes", new { TipoDeProducto = "Muebles" })" class="list-group-item">Registrar Moviliario</a>
                    <a href="@Url.Action("Create", "Bienes", new { TipoDeProducto = "Computo" })" class="list-group-item">Registrar Productos de Computo</a>
                    <a href="@Url.Action("Create", "Bienes", new { TipoDeProducto = "Vehiculos" })" class="list-group-item">Registrar Nuevo Vehiculo</a>
                    <a href="@Url.Action("Create", "Bienes", new { TipoDeProducto = "Otros" })" class="list-group-item">Registrar Otros Bienes</a>
                    <a href="@Url.Action("Index", "Depreciacion")" class="list-group-item">Lista Depreciaciones</a>
                    <a href="@Url.Action("Create", "Depreciacion")" class="list-group-item">Registrar Depreciación</a>
                    <a href="@Url.Action("Index","BienesDepreciacion")" class="list-group-item">Depreciación de Bienes</a>
                </h5>

</div>
        </div>
    </div>

